<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @artist.name %>
</p>

<p>
  <b><%= link_to 'Songs', artist_songs_path(@artist) %></b>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
