<p id="notice"><%= notice %></p>

<p>
  <b>Song:</b>
  <%= @song.name %>
</p>

<p>
  <b>Artist:</b>
  <%= link_to @song.artist.name, artist_path(@song.artist) %>
</p>

<p>
  <b>Genre:</b>
  <%= link_to @song.genre.name, genre_path(@song.genre) %>
</p>

<%= link_to 'Edit', edit_artist_song_path(@song) %>